$additional-header-height: 50px;

.additional-header {
  align-items: center;
  background-color: #ececec;
  display: flex;
  height: $additional-header-height;
  justify-content: right;
  width: 100%;

  &-icon {
    font-size: 16px !important;
    margin-right: 10px !important;
  }
}
