@use 'src/styles/parts' as *;

$menu-width-open: 250px;
$menu-width-close: 30px;

.pushable-segment {
  @extend %base-container;
  border: 0 !important;
  border-radius: 0 !important;
  display: flex;
  flex-direction: row;
}

.sidebar,
%sidebar {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-container {
    overflow: hidden !important;
    transition: all 0.75s ease 0s !important;
    will-change: transition;

    &-close {
      @extend %sidebar-container;
      cursor: pointer;
      width: $menu-width-close !important;
    }

    &-open {
      @extend %sidebar-container;
      width: $menu-width-open !important;
    }
  }

  &-close {
    @extend %sidebar;
    align-items: flex-end;
    height: 100%;
    justify-content: center;

    &-title {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      transform: translate(0, 100%) rotate(270deg);
      transform-origin: 0 0;
      vertical-align: top;
      white-space: nowrap;

      ::after {
        content: '';
        float: left;
        margin-top: 100%;
      }

      &-container {
        align-items: center;
        display: flex;
        height: 100%;
        line-height: $menu-width-close;
        overflow: hidden;
        width: $menu-width-close;
      }
    }

    &-icon {
      font-size: 18px !important;
      margin-bottom: 10px !important;
      margin-top: auto !important;
    }
  }
}

.pusher,
%pusher {
  height: 100%;
  transition: all 0.5s ease 0s !important;
  will-change: transition;

  &-open {
    @extend %pusher;
    left: $menu-width-open;
    transform: none !important;
    width: calc(100% - #{$menu-width-open});
  }

  &-close {
    @extend %pusher;
    left: $menu-width-close;
    transform: none !important;
    width: calc(100% - #{$menu-width-close});
  }
}
