$ext-height: 40px;
$additional-header-height: $ext-height;
$tabulator-header-height: $ext-height;
$tabulator-footer-height: 60px;

:global {
  .tabulator .tabulator-header {
    background-color: #fff !important;
    height: $tabulator-header-height;

    .tabulator-col {
      background-color: #fff !important;
    }
  }

  /* stylelint-disable */
  .tabulator .tabulator-tableHolder {
    /* stylelint-enable */
    height: calc(100% - #{$tabulator-header-height}) !important;
    max-height: calc(100% - #{$tabulator-header-height}) !important;
    min-height: calc(100% - #{$tabulator-header-height}) !important;

    &::-webkit-scrollbar {
      height: 0;
    }

    .tabulator-placeholder span {
      font-size: 14px !important;
    }
  }

  .tabulator-row .tabulator-cell {
    height: auto !important;
    white-space: normal !important;
    word-break: break-all;
  }

  .tabulator-row.tabulator-group {
    display: flex !important;
  }
}

.additional-header {
  align-items: center;
  display: flex;
  height: $additional-header-height;
  justify-content: flex-end;
  width: 100%;

  &-add-icon {
    font-size: 16px !important;
    margin-right: 10px !important;
  }
}

.table {
  height: calc(100% - #{$additional-header-height});
}

.group- {
  &container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &add-button {
    margin: 0 5px !important;
    opacity: 0.8 !important;

    &:hover {
      opacity: 1 !important;
    }
  }

  &input {
    background: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
  }
}
