$flags-image-path: '~semantic-ui-sass/images/';
$icons-font-path: '~semantic-ui-sass/icons/';
@import '~semantic-ui-sass/semantic-ui';
@import '~react-tabulator/lib/css/bootstrap/tabulator_bootstrap4.min.css';
@import '~react-tabulator/lib/styles.css';

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
}
