.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 2px;
  padding: 2px 0 2px 17px !important;
  width: max-content;

  &:focus {
    outline: none;
  }
}

.active,
%active {
  &::before {
    background: rgba(0, 0, 0, 0.1) !important;
    content: '';
    height: 100%;
    pointer-events: none;
    position: absolute;
    transform: scaleX(10);
    width: 100% !important;
    z-index: 1;
  }

  &-item {
    @extend %active;
    position: relative;
  }
}

.name {
  overflow: hidden;
  padding-left: 4px;
  white-space: nowrap;
  z-index: 2;
}
