.accordion {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
}

.item,
%item {
  align-items: center;
  display: flex;
  padding: 2px 0 !important;
  width: 100%;
  z-index: 2;

  &-empty {
    @extend %item;
    padding: 0 0 0 17px !important;
  }
}

.content {
  margin-left: 16px;
  padding: 0 !important;
}

.dropdown,
%dropdown {
  transition: transform 0.1s ease !important;

  &-open {
    @extend %dropdown;
    backface-visibility: unset !important;
    transform: rotate(90deg) !important;
    z-index: 2;
  }
}
