@use '../../styles/Dashboard' as *;

$big-menu-margin-size: 20px;
$small-menu-margin-size: 15px;

.title {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding: $big-menu-margin-size $big-menu-margin-size $small-menu-margin-size;
  width: 100%;
}

.separator {
  border: 2px solid;
  height: 2px;
  margin: 0 $big-menu-margin-size $small-menu-margin-size;
  width: calc(#{$menu-width} - 2 * #{$big-menu-margin-size});
}

