@use 'src/styles/parts' as *;

.start-screen {
  @extend %flex-base-center-container;
  flex-direction: row;
}

.kalita-container,
%kalita-container {
  @extend %flex-center-container;
  flex-direction: column;
  height: 100%;

  &-combined {
    @extend %kalita-container;
    width: 100%;
  }

  &-split {
    @extend %kalita-container;
    flex: 1 1 50%;
  }
}

$recent-project-color: #4c74b9;

.recent {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  max-height: 50%;
  overflow: hidden;
  padding: 20px;

  &-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
  }

  &-project {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    margin-bottom: 5px;

    &-title {
      @extend %reverse-ellipsis;
      color: $recent-project-color;
      cursor: pointer;
      width: 90%;

      &:hover {
        color: lighten($recent-project-color, 10);
        cursor: pointer;
      }

      &:active {
        color: darken($recent-project-color, 10);
        cursor: pointer;
      }
    }

    &-close-link {
      width: 10% !important;
    }
  }
}

.reverse-ellipsis,
%reverse-ellipsis {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::before {
    background-color: #fff;
    content: '\02026';
    left: -14px;
    margin-left: 7px;
    padding-left: 14px;
    position: absolute;
    z-index: 1;
  }

  &-content {
    background-color: inherit;
    display: inline-block;
    float: right;
    min-width: 100%;
    overflow: visible;
    position: relative;
    text-indent: 20px;

    &::before {
      background-color: inherit;
      content: '';
      display: inline-block;
      height: 16px;
      left: 7px;
      position: absolute;
      width: 13px;
      z-index: 200;
    }
  }
}

.separator {
  border: 1px solid #c6c6c6;
  height: 65%;
}

.buttons-container {
  &-combined {
    margin-top: 20px;
  }

  &-split {
    align-items: flex-end;
    display: flex;
    flex: 1 1 50%;
    min-height: 50%;
  }
}

.projects-container {
  align-items: center;
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
