.base-row,
%data-table-base-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.base-cell,
%data-table-base-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &-content-wrapper {
    display: flex;
    width: 100%;
  }
}
