@use '../../../styles/parts' as *;
@use '../../BrokeragePortfolioTable/AdditionalHeader/styles/AdditionalHeader' as additionalHeader;
@use './variables' as dataTableVariables;

.table-container {
  height: calc(100% - #{additionalHeader.$additional-header-height});
  overflow: auto;
}

.inner-table,
%data-table-inner-table {
  margin: 0 !important;

  &-header {
    @extend %data-table-inner-table;
    display: inline-table;
    grid-row: 1;
    height: dataTableVariables.$head-height;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &-body {
    @extend %data-table-inner-table;
    display: table;
    max-height: calc(100% - #{dataTableVariables.$head-height} - 1px);
    overflow: hidden;
  }

  &-placeholder {
    @extend %flex-center-container;
    font-size: 16px;
    font-weight: bold;
    height: calc(100% - #{dataTableVariables.$head-height} - 1px);
  }
}
